.slider {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .slider__image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .slider__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
  .slider__title {
    font-size: 36px;
    text-shadow: 2px 2px 4px black;
  }

  .slider__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .slider__control--left {
    left: 20px;
  }
  
  .slider__control--right {
    right: 20px;
  }
  
  .slider__control:hover {
    background-color: #ff5e15;
  }
  
  .slider__dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
  
  .slider__dot {
    width: 10px;
    height: 10px;
    background-color:white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .slider__dot:hover, .slider__dot.active {
    background-color: black;
  }

.hero {
    padding: 40px 0;
    text-align: center;
    color: white;
  }

  .hero__title {    
    color: #ff5e15 ;
    font-size: 32px;
  }
  
  .services {
    padding-bottom: 60px;
    text-align: center;
  }
  
  .services__title {
    font-size: 28px;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    color: black;
  }
  
  .service-box {
    background-color: white;
    padding: 20px;
    border: 1px solid gray;
    text-align: left;
    position: relative;
    margin-top: 30px;
  }
  
  .service-box__icon {
    width: 80px;
    margin-bottom: 15px;
  }
  
  .service-box h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  .service-box p {
    font-size: 16px;
    color: gray;
  }

  .service-box__number {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: gray; 
    font-weight: small;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .why-choose-us {
    background-color: #09162a; 
    color: white;
    padding: 50px 0;
  }
  
  .why-choose-us__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  
  .why-choose-us__image img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .why-choose-us__content{
    margin-left: 90px;
    margin-top: 200px;
  }
  
  .why-choose-us__content h4 {
    color: #ff5e15; 
    font-size: 23px;
    margin-bottom: 25px;
  }
  
  .why-choose-us__content h5 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  
  .why-choose-us__content p {
    font-size: 18px;
    color: white;
    margin-bottom: 40px;
  }
  
  .why-choose-us__list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .why-choose-us__list li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .why-choose-us__list img {
    width: 60px;
    margin-right: 15px;
  }

  .why-choose-us__list .text-content {
    display: block; 
  }
  
  .why-choose-us__list span {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    display: block;
    margin-bottom: 15px;
  }
  
  .why-choose-us__list p {
    font-size: 14px;
    margin-top: 15px;
    color: white;
    text-align: left;
    margin: 0;
  }

  .quote-section {
    padding: 50px 0;
    display: flex;
    align-items: center;
  }
  
  .quote-section__image {
    width: 70%;
    height: auto;
    object-fit: cover;
  }
  
  .quote-section__form {
    background-color: black;
    color: white;
    padding: 40px;
  }
  
  .quote-section__form h3 {
    color: #ff5e15;
    font-size: 24px;
  }
  
  .quote-section__form h4 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .quote-section__form h4 span {
    font-weight: 1000;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    color: white;
    margin-bottom: 5px;
  }
  
  .form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: gray;
    color: white;
  }

  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: gray;
    color: white;
  }
  
  .btn {
    background-color: #ff5e15;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
  }
  
  .btn:hover {
    background-color: black;
  }

  .projects-section {
    text-align: center;
    padding: 50px 0;
    background-color: #09162a;
    color: white;
  }
  
  .projects-section h2 {
    color: #ff5e15;
    font-size: 32px;
  }
  
  .projects-section h3 {
    margin-bottom: 40px;
  }
  
  .projects-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
  }
  
  .project {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .project img {
    width: 100%;
    height: 500px;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .project-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-align: left;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .project-info span {
    font-size: 14px;
    color: #ff5e15;
  }
  
  .project-info h4 {
    font-size: 20px;
    margin-top: 5px;
  }
  
  .project:hover img {
    transform: scale(1.1);
    filter: brightness(0.5);
  }
  
  .project:hover .project-info {
    opacity: 1;
  }
  
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 10;
  }
  
  .slider-btn-left {
    left: 280px;
  }
  
  .slider-btn-right {
    right: 280px;
  }
  
  .slider-btn:hover {
    background-color: gray;
  }

  .slider-dots {
    margin-top: 20px;
  }
  
  .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dot.active, .dot:hover {
    background-color: #ff5e15;
  }

  .testimonial-section {
    text-align: center;
    padding: 50px 0;
    background-color: whitesmoke;
  }
  
  .testimonial-section h2 {
    color: #ff5e15;
    font-size: 24px;
  }
  
  .testimonial-section h3 {
    font-size: 28px;
    margin-bottom: 40px;
  }
  
  .testimonials {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .testimonial {
    max-width: 400px;
    text-align: center;
  }
  
  .testimonial__img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    margin-bottom: 20px;
  }
  
  .testimonial p {
    font-size: 16px;
    color: rgb(52, 51, 51);
    margin-bottom: 20px;
  }
  
  .testimonial__name {
    font-size: 18px;
    color: #ff5e15;
    font-weight: bold;
  }

  .blog-section {
    text-align: center;
    padding: 50px 0;
  }
  
  .blog-section h2 {
    color: #ff5e15;
    font-size: 24px;
  }
  
  .blog-section h3 {
    font-size: 28px;
    margin-bottom: 40px;
  }
  
  .blog-posts {
    display: flex;
    gap: 10px;
    justify-content: space-around;
  }
  
  .blog-post {
    max-width: 300px;
    text-align: left;
  }
  
  .blog-post img {
    width: 100%;
    transition: transform 0.3s ease;
  }
  
  .blog-post h4 {
    font-size: 18px;
    margin: 15px 0 10px;
  }
  
  .blog-post p {
    font-size: 14px;
    color: gray;
  }
  
  .post-link {
    color: #ff5e15;
    text-decoration: none;
  }
  
  .blog-post:hover img {
    transform: scale(1.05);
  }

  .newsletter-section {
    background-color: #ff5e15;
    color: white;
    text-align: left;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .newsletter-content{
    width: 70%;
    text-align: left;
  }
  
  .newsletter-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .newsletter-content p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .newsletter-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .newsletter-form input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 5px 0 0 5px;
    width: 300px;
    background: none;
    color: white;
  }
  
  .newsletter-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  .footer {
    background-color: rgb(85, 82, 82);
    color: white;
    padding: 50px 0;
    font-family: Arial, sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  
  .footer-column {
    width: 20%;
  }
  
  .footer-column img {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer-column h3 {
    color:#ff5e15;
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline;
    color: #ff5e15;
  }
  
  .learn-more {
    margin-top: 20px;
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  
  .learn-more:hover {
    text-decoration: underline;
    color: #ff5e15;
    transform: scale(1.05);
  }

  .team-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }
  
  .team-member {
    width: 23%;
    text-align: center;
    position: relative;
  }
  
  .team-photo {
    position: relative;
    overflow: hidden;
  }
  
  .team-photo img {
    width: 100%;
    transition: transform 0.3s ease;
  }
  
  .team-member:hover .team-photo img {
    transform: scale(1.1); 
  }
  
  .social-icons {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .team-member:hover .social-icons {
    opacity: 1; 
  }
  
  .social-icons a {
    background-color: white;
    color: #ff5e15;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .social-icons a:hover {
    background-color: black; 
    color: white;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .position {
    color:#ff5e15;
    font-size: 16px;
  }
  .contact-section {
    padding: 50px 0;
  }
  
  .contact-form {
    width: 90%;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .col-6 {
    width: 48%;
  }
  
  .col-12 {
    width: 100%; 
  }
  
  input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
  }

  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  textarea {
    height: 150px;
  }
  
  button {
    background-color: #ff5e15;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #793313; 
  }
  
  label {
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .hero__title {
      font-size: 36px;
    }
    
    .hero__subtitle {
      font-size: 18px;
    }
  
    .service-box {
      margin-bottom: 20px;
    }
  }  

  