.slider {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .slider__image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .slider__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
  .slider__title {
    font-size: 36px;
    text-shadow: 2px 2px 4px black;
  }

  .slider__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .slider__control--left {
    left: 20px;
  }
  
  .slider__control--right {
    right: 20px;
  }
  
  .slider__control:hover {
    background-color: #ff5e15;
  }
  
  .slider__dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
  
  .slider__dot {
    width: 10px;
    height: 10px;
    background-color:white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .slider__dot:hover, .slider__dot.active {
    background-color: black;
  }

.hero {
    padding: 40px 0;
    text-align: center;
    color: white;
  }

  .hero__title {    
    color: #ff5e15 ;
    font-size: 32px;
  }
  
  .services {
    padding-bottom: 60px;
    text-align: center;
  }
  
  .services__title {
    font-size: 28px;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    color: black;
  }
  
  .service-box {
    background-color: white;
    padding: 20px;
    border: 1px solid gray;
    text-align: left;
    position: relative;
    margin-top: 30px;
  }
  
  .service-box__icon {
    width: 80px;
    margin-bottom: 15px;
  }
  
  .service-box h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  .service-box p {
    font-size: 16px;
    color: gray;
  }

  .service-box__number {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: gray; 
    font-weight: small;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .why-choose-us {
    background-color: #09162a; 
    color: white;
    padding: 50px 0;
  }
  
  .why-choose-us__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  
  .why-choose-us__image img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .why-choose-us__content{
    margin-left: 90px;
    margin-top: 200px;
  }
  
  .why-choose-us__content h4 {
    color: #ff6600; 
    font-size: 23px;
    margin-bottom: 25px;
  }
  
  .why-choose-us__content h5 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  
  .why-choose-us__content p {
    font-size: 18px;
    color: white;
    margin-bottom: 40px;
  }
  
  .why-choose-us__list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .why-choose-us__list li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .why-choose-us__list img {
    width: 60px;
    margin-right: 15px;
  }

  .why-choose-us__list .text-content {
    display: block; 
  }
  
  .why-choose-us__list span {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    display: block;
    margin-bottom: 15px;
  }
  
  .why-choose-us__list p {
    font-size: 14px;
    margin-top: 15px;
    color: white;
    text-align: left;
    margin: 0;
  }

  @media (max-width: 768px) {
    .hero__title {
      font-size: 36px;
    }
    
    .hero__subtitle {
      font-size: 18px;
    }
  
    .service-box {
      margin-bottom: 20px;
    }
  }  

  